@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root{
   --bg-color: #1f242d;
   --second-bg-color: #323946;
   --text-color: #fff;
   --main-color: #dc7e23;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
    /* max-width: 1850px;
    margin: 0 auto */
}
section{
    
    padding: 5rem 9% 2rem;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--main-color);
}
.header i:hover{
    cursor: pointer;
}
.request-quote{
    font-size: 1.7rem;
    color: var(--text-color);
    background-color: var(--main-color);
    padding: 1rem;
    border-radius: 3rem;
    margin-left: 3rem;
    transition: 0.5s ease;
}

.request-quote:hover{
    background-color: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}
.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 3rem;
    position: relative;
    /* transition: 0.5s ease; */
}
.navbar a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.navbar a:hover::after{
    
    width: 100%;
   
}
#nav_bar_icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

/* header img */
.header-img{
    padding: 0;
}
.header-img img{
    margin-top: 5rem;
    width: 100%;
    height: 50rem;
}


/* slider */
/* Our Customers */
.slider_container h2{
    font-size: 4rem;
    margin-bottom: 3rem;
    text-align: center;
    color: var(--main-color);
}
.slider_container {
    padding: 2rem;
    overflow: hidden; /* Hide overflowing content */
    margin-top: 90px;
}

.slider_wrapper {
    position: relative;
    width: 100%;
    overflow: hidden; 
}

.slider {
    display: flex;
    height: 30rem; /* Set a fixed height for the slider */
    width: 660%; /* 15 images, adjust if needed */
    animation: slide 30s linear infinite; /* Adjust the duration to fit the number of images */
}

.slider img {
    flex: 1 0 auto; 
    height: 95%; 
    object-fit: fill; 
    border-radius: 1rem; 
    margin: 1rem;
}

/* Keyframes for sliding effect */
@keyframes slide {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); } /* Move the slider to the left by 100% of its width */
}




/* About Us */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-content h2{
    text-align: center;
    font-size: 4.5rem;
    color: var(--main-color);
    border-radius: 0.5rem;
    margin-bottom: 4rem;
}
.about-content h3{
    font-size: 2.6rem;
    text-align: center;
}
.about-content p{
    font-size: 1.6rem ;
    margin: 2rem 0 ;
    text-align: center;
}

/* Active Slider */
.counters{
    padding: 3rem 2rem;
    background-color: var(--main-color);
    text-align: center;
    border-radius: 1rem;
}
.counters > div {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.counter{
    position: relative;
}
.counter h1{
    font-size: 3rem;
    margin-bottom: 0.5rem;
}
.counter:not(:last-child)::before{
    content: '';
    background: #fff;
    position: absolute;
    width: 2px;
    height: 5rem;
    top: 10%;
    right: -1em;
}
/* we can section */

section .we_can {
    font-size: 4.5rem;
    margin-bottom: 5rem;
}

section div h4 {
    display: inline-block;
    padding: 1rem 2rem; 
    font-size: 2rem;
    background-color: var(--main-color);
    margin: 1.5rem 0;
    border-radius: 5px;
    color: var(--text-color); 
}


/* Service contaier */
.service h2 {
    font-size: 4rem;
    text-align: center;
    color: var(--main-color);
    margin-bottom: 7rem;
    border-radius: 5px;
   
  }
  
  .service-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
  }
  
  .services-box {
    background-color: var(--second-bg-color);
    padding: 3rem 2rem;
    border-radius: 2rem;
    border: 0.2rem solid var(--bg-color);
    transition: 0.5s ease;
  }
  
  .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.05);
  }
  
  .services-box i {
    font-size: 3rem;
    color: var(--main-color);
  }
  
  .services-box h3 {
    margin-left: 1rem;
    font-size: 2.6rem;
  }
  
  .services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
  }
  .top-heading{
    display: flex;
    align-items: center;
  }
  
/* Portfolio Style */
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio .btn{
    margin-top: 4rem;
    padding: 1rem;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: var(--main-color);
}
.portfolio_img, .request-quote_img{
    padding: 0;
}
.portfolio_img img, .request-quote_img img{
    width: 100%;
    height: 60rem;
}
.portfolio h2{
    font-size: 3.5rem;
    color: var(--main-color);
    display: flex;
    justify-content: center;
}
.portfolio h3{
    font-size: 3rem;
    text-align: center;
    margin: 2.5rem;
}
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box{
    position: relative;
    overflow: hidden;
    display: flex;
    
}
.portfolio-box img{
    width: 90%;
    height: 250px;
    transition: .5s ease;
    border-radius: 10px;
}
.portfolio-box:hover img{
    transform: scale(1.1);
}


/* Request quote section */
.request-quote_img{
    margin-top: 2.5rem;
}
.contact h2{
    margin-bottom: 3rem;
    font-size: 4rem;
    text-align: center;
    color: var(--main-color);
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    /* background-color: var(--second-bg-color); */
    background: transparent;
    border: 1px solid var(--main-color);
    border-radius: .8rem;
    margin: .7rem 0;
}
.contact form .input-box input{
    width: 100%;
}
.contact form textarea{
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    background-color: var(--main-color);
}
  
/* Footer */
.footer_body{
    background-color: var(--second-bg-color);
}
.footer{
    margin-top: 5rem;
    padding: 3rem;
    display: flex;
    /* background-color: var(--second-bg-color); */
    justify-content: space-around;
}
.name_logo_body{
    display: flex;
    align-items: center;
}
.name_logo img{
    width: 5rem;
    height: 5rem;
}
.name_logo h2{
    font-size: 2rem;
    margin: 2rem;
    
}
.social_media i{
    border-radius: 50%;
    color: var(--main-color);
    font-size: 2rem;
    margin: 1rem;
    transition: all 0.2s ease-in;
}
.social_media i:hover{
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
    transition: all 0.2s ease-in;
}
.footer_navbar{
    display: flex;
    flex-direction: column;
}
.footer_navbar h3{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--main-color);
}
.footer_navbar a{
    color: var(--text-color);
    font-size: 1.5rem;
    margin: 0.2rem;
}
.Get_in_touch h3{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--main-color);
}
.Get_in_touch h4{
    font-size: 1.5rem;
    margin-top: 1rem;
}

        /* Footer Img */
.love {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
 background-color: white;
 color: black;
}

/* Responsiveness */
@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 991px){
    .header{
        padding: 2rem 3%;
    }
    .service{
        padding-bottom: 7rem;
    }
    .portfolio{
        padding-bottom: 7rem;
    }
    .contact{
        min-height: auto;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media (max-width: 768px){
  
    .home{
        flex-direction: column;
    }
    .home-container h3{
        font-size: 2.6rem;
    }
    .home-container h1{
        font-size: 5rem;
    }
    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    .service h2{
        margin-bottom: 3rem;
    }
    .portfolio h2{
        margin-bottom: 3rem;
    }
    .portfolio-container, .service-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 810px){

    #nav_bar_icon{
        display: block;
    }
    .navbar{
        background: var(--second-bg-color);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;  
        z-index: 2;
        transition: right 0.5s;
    }
    .navbar a{
        display: block;
        margin: 25px;
        font-size: 20px;
        font-weight: 600;
    }
    .navbar i{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

}
@media (max-width: 617px){
    .portfolio-container, .service-container{
        grid-template-columns: 1fr;
    }
    .footer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .name_logo img{
        width: 5rem;
        height: 5rem;
    }
    .name_logo h2{
        font-size: 1rem;
        margin: 1rem;
        
    }
    .social_media{
        margin-top: 2rem;
    }
    .social_media i{
        font-size: 1.5rem;
        margin: 0.5rem;
    }
    .footer_navbar{
        margin-top: 0;
        margin-right: 2rem;
    }
    .footer_navbar h3{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .footer_navbar a{
        font-size: 1rem;
    }
    .Get_in_touch{
        margin-top: 0 ;
    }
    .Get_in_touch h2{
        font-size: 1.5rem;
    }
    .Get_in_touch h4{
        font-size: 1rem;
    }

    .header-img img{
        height: 40rem;
    }

    .portfolio_img img, .request-quote_img img{
        height: 40rem;
    }

    .portfolio h3{
        font-size: 2rem;
    }
}
@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    .contact form .input-box input{
        width: 100%;
    }
    

}
@media (max-width: 365px){
    .home-img img{
        width: 90vw;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}
#msg{
    color: var(--text-color);
    margin-top: 10px;
    display: block;
    font-size: 20px;

}

/* media for Active Counter */
@media screen and 
(max-width: 900px) and(min-width: 501px){
    .counters > div {
        grid-template-columns: 1fr 1fr;
    }
    .counter:nth-child(2)::before{
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .counters > div {
        grid-template-columns: 1fr;
        row-gap: 5em;
    }
    .counter:not(:last-child)::before{
        width: 90%;
        height: 2px;
        top: initial;
        right: initial;
        bottom: -3em;
        left: 50%;
        transform: translate(-50%);
    }
}

/* for customers slider */
@media (max-width: 768px) {
    .slider {
        height: 20rem; /* Adjust height for smaller screens */
    }
}

@media (max-width: 480px) {
    .slider {
        height: 15rem; /* Further adjust for very small screens */
    }
}


